@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  background-color: #000000;
  /* Negro puro para pantallas OLED */
  color: #ffffff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  /* Texto nítido */
}

/* Evita que los inputs hagan zoom en iPhone */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: 16px !important;
}