@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reseteo básico para asegurar que no se vea deforme */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Evita el scroll horizontal */
  background-color: #09090b;
  /* Color Zinc-950 (Oscuro Profundo) */
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

/* Evita el zoom automático en inputs de iPhone */
input,
textarea,
select {
  font-size: 16px !important;
}