@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Usamos las variables nativas de Telegram */
  --tg-bg-color: var(--telegram-bg-color, #212121);
  --tg-text-color: var(--telegram-text-color, #ffffff);
  --tg-button-color: var(--telegram-button-color, #2EA6FF);
  --tg-button-text-color: var(--telegram-button-text-color, #ffffff);
  --tg-hint-color: var(--telegram-hint-color, #aaaaaa);
  --tg-secondary-bg-color: var(--telegram-secondary-bg-color, #181818);
}

body {
  /* Aplicamos el fondo y texto base de Telegram */
  background-color: var(--tg-bg-color);
  color: var(--tg-text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}